{% extends "layout/base.html" %}
{% block title %}Edit Gender{% endblock %}
{% block content %}
<div class="p-2 sm:ml-64 mt-16 md:mt-14">
  <form method="POST">
    {% csrf_token %}
    <label for="gender" class="block text-sm font-medium mb-2">Gender</label>
    <input type="text" name="gender" id="gender" value="{{ gender.gender }}" required
      class="bg-white mb-2 px-3 py-2.5 border border-gray-300 text-black block text-sm rounded-sm w-full focus:outline-none focus:ring-blue-600 focus:border-blue-600"/>
    <div class="flex justify-end">
      <button type="submit" class="bg-blue-600 hover:bg-blue-700 text-white px-3 py-2.5 rounded-sm shadow-sm">Update</button>
    </div> 
  </form>
</div>
{% endblock %}