{% extends "layout/base.html" %}

{% block 'title' %}
  Genders List
{% endblock 'title' %}

{% block 'content' %}
  {% include "include/Sidebar.html" %}

  <div class="p-2 sm:ml-64 mt-16 md:mt-14">
    <div class="relative overflow-x-auto rounded-sm shadow-sm">
      <table class="w-full">
        <thead class="text-xs text-white bg-blue-600">
          <tr>
            <th class="px-6 py-3">Gender Id</th>
            <th class="px-6 py-3">Gender</th>
            <th class="px-6 py-3">Action</th>
          </tr>
        </thead>
        <tbody class="text-xs text-black">
            {%for in %} {% endfor %}
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock 'content' %}